
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!--archive header-->
    <div class="archive-header pt-50">
        <div class="container">
            <h2 class="font-weight-900">Diễn đàn trao đổi</h2>

            <div class="bt-1 border-color-1 mt-30 mb-50"></div>
        </div>
    </div>
    <div class="pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="post-module-3">
                        <div class="loop-list loop-list-style-1">
                            @foreach (var item in ViewBag.List)
                            {
                                <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                    <div class="row mb-40 list-style-2">

                                        <div class="col-md-12 align-self-center">
                                            <div class="post-content">
                                                <h5 class="post-title font-weight-900 mb-20">
                                                    <a href="/post/detail/@item.id_post">@item.title</a>
                                                    <span class="post-format-icon"><i class="elegant-icon icon_star_alt"></i></span>
                                                </h5>
                                                <div class="post-excerpt mb-25 font-small text-muted">
                                                    <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">@Html.Raw(@item.description)</p>
                                                </div>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">Được đăng bởi : <strong>@item.User.fullname</strong> &nbsp;&nbsp; @item.createdAt </span>

                                                    <a href="/post/detail/@item.id_post" class="btn btn-primary btn-sm " style="margin-left: 680px;">Chi tiết</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            }


                            </div>
                    </div>
                    <div class="pagination-area mb-30 wow fadeInUp animated">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#"><i class="elegant-icon arrow_left"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item"><a class="page-link" href="#">04</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="elegant-icon arrow_right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

